ssl.keystore.location=/home/edu/kafka_2.12-3.3.1/config/server.keystore.jks
ssl.keystore.password=123456
ssl.key.password=123456
ssl.truststore.location=/home/edu/kafka_2.12-3.3.1/config/server.truststore.jks
ssl.truststore.password=123456
ssl.endpoint.identification.algorithm=
security.protocol=SSL
